footer {
 /* background-color: #4F84C4;*/ 
  /*background: linear-gradient(to top left, #000099 2%, #6699ff 96%);*/
  
}

html {
     height: 100%; 	   
}

body {
	padding: 0px 0 0 0;
	margin:0 0 0 0;
	background-color: #fbf8fb;  /* #e6f2ff;*/
	/*color:#cccccc;*/
	height: 100%;
	 position: relative;	 
}

table.docutils {
    border: 1px;
    border-collapse: collapse;
	width: 35%;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 5px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;	
    border: 1px solid #aaa; 
}

table.docutils tr {
    padding: 1px 8px 1px 5px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border: 1px solid #aaa;	 	 
}

div.navbar{	
	border: 0px solid green;  	
}

/************************************************/	
div.youarethe {
	font-size: 0.80em;
	color: #669999; /** green 558000*/
	font-weight: normal;	
}
div.youarethe table {
width:99%;
	float:center;
	margin: auto;
	border: 0px solid blue;
}

div.youarethe p {
	font-size: 1.2em;
	color: #669999; /** green 558000*/
	font-weight: normal;	
	padding: 5px 0 0 0;	
	margin:0;
}
div.youarethe table td {
	 padding:0 15px 0 0 ;
	
}


div.quicklinks table {
	width:99%;
	float:center;
	margin: auto;
	border: 0px solid red;
}
div.quicklinks {
	font-size: 0.80em;
	color: #669999; 
	font-weight: nomal;	
}
div.quicklinks p {
	font-size: 1.2em;
	color: #006bb3; 
	font-weight: normal;	
	padding: 5px 0 0 0;	
	margin:0;
}
div.quicklinks table td {
	 padding:0 45px 5px 10px ;
	
}
div.quicklinks ul.simple2 {
	 	font-size: 1.20em;
	color: #669999; 
	font-weight: nomal;	
	padding-top: 2px;
}

.center-content {
    margin: auto;
    border: 0px solid #73AD21;
    padding: 10px;
}
div.content p.top {
	margin-top:80px; 
	color: #808080;	
}
#content-home {
	margin-top:80px;
    margin-left:20px;
	margin-right:20px;	
}

div.row p.top2 {
	color: #006bb3;
	font-size: 1.4em;
	font-weight: nomal;
}
/*******************************************/

div.navbar li.dropdown a:active a:hover {	
	background-color:  #ccff33;	
	
}
div.navbar-collapse ul.navbar-nav li {
 	background-color: #e2eee5;  
}

/****** container ******/
div.container  {
	width:99%; 
	border: 0px solid red;  
}

div.container dl.function {
	border: 2px solid #e6f2ff;  
	padding-left:2px;
	padding-top:5px;
	padding-right:5px;	
	margin-right: 2px;
	padding-bottom:0;
}

/****** section ******/
div.section{	
 border: 0px solid #66ffb3; /*-- blue green */
  margin-bottom: 0px;
  margin-top: -1px;
  padding-bottom: 5px;
  padding-top: 5px; 
  padding-right:10px;
  padding-left:10px;
}
	
div.section dl.type dl.type{
	border: 2px solid #f0f5f5;  /*#f0f5f5; /* #34A853; *green */
	padding-left:5px;
	padding-top:10px;
	padding-right:5px;
	width:95%; 
 }
div.section dl.type{	
	margin-top:20px; 
 }

div.section dl.class {
	border: 2px solid #e0ebeb;  /* #E1E8ED;  /* #FBBC05; /**orange*/ 
	padding-left:5px; 
	padding-top:10px;
	padding-right:5px;
	margin-right: 0px;
}

div.section dl.function {
	border: 2px solid #ecf2f9;  /*#53ff1a; /*neo gerrn*/
	padding-left:5px;
	 padding-top:5px;
	 padding-right:5px;
	margin-right: 5px;
}

div.section h1 {
   font-size: 2.6em;
   font-weight: normal;
   color: #004080;  /*8a99a8;  /*a3c2c2;  /*8cb3d9;  /* 1f3d7a;*/
   padding-bottom:10px;
   padding-top:10px;
   margin-top:8px;  
}

div.section p {
	/* border: 1px dotted #c4ff4d;*/
	padding-top:6px;
}

div.section h2 {
	font-size: 2.2em;
	color: #396993;  /*4C6A92;    /*#2d5986;*/
	font-weight: bold;
	padding-top:4px;
	padding-left:1px;
	border-bottom:solid #e0ebeb 1px;
	font-family: "Times New Roman",Georgia, serif;
	padding-bottom:4px;
}
div.section h3 {
	font-size: 1.7em;
	color: #4783b8;  /*92B6D5;   /*#55552b;  /* brown*/
	font-weight: normal;
	padding-top:22px;
	padding-bottom:2px;
	padding-left:0px;
	margin-top: 5px;
	text-transform: uppercase;
	border-bottom:solid #eff5f5 1px;
}
div.section h4 {
	font-size: 1.5em;
	color: #006666; /*24478f;  /*527a7a; /*669999; /** green 558000*/
	font-weight: normal;
	padding-top:16px;
	padding-bottom:0px;
	font-weight: bold;	
	padding-left:0px;
	font-family: "Times New Roman",Georgia, serif;
	text-transform:capitalize;
}

div.section h5 {
  font-size: 1.3em;
  color: #94b8b8;  /*75a3a3;*/
  font-weight: bold;
  padding-left:0px;
  padding-top:12px; 
}

div.navbar-fixed-top {
	height: 65px;	
}
.navbar-fixed-top {
    background-color: #ddeedd;
}

/****** navbar-header ******/
div.navbar-header {
	background-image: url(bitshares-logo.png);
	background-size: 25px 40px;
	background-position:0px 10px;
	background-repeat: no-repeat;
	padding-left:0px;  
}
div.navbar-header a {
	padding-left:60px;
}
div.navbar-header a:hover {
	color:  #92a8d1;
}
.navbar-default .navbar-brand {
  color:  #4040a1;
/*  ddeedd#ddeedd;*/
}
/********** content  ******/
#content-wrapper {
	border: 0px solid #ff944d; /**orange*/
	padding-top:10px;
	padding-bottom: 150px;
	padding-right:5px;
	padding-left: 15px;
	margin-top: 50px; 
	background-color: white; 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#sidebar-wrapper {
	margin-left: -400px;	 
	width: 100px; 
	padding:20px 0 10px 0;	 
	height: 100%;	
	margin-top:-50px;	
	margin-bottom:100px; 
	overflow-y: scroll;
	border: 0px solid #cc99ff;
	background-color: #ffffff; 	
}

#sidebar-wrapper ul  {
	padding: 0px 0px 0px 2px;
	margin-left:0px;
    margin-top: 0px;
	list-style-type: none;
}

#sidebar-wrapper li a {
	display: block; 
	padding: 5px 5px;  
	font-size: 1.2em;
	color: #5A7247; /*d8cce7;*/
	text-decoration: none;
	border-bottom: 1px solid #cccccc; 
	background: -webkit-gradient(linear, left top, left bottom, from(#d3ded9), to(#e2e9e6));
	background: -webkit-linear-gradient(top, #d3ded9, #e2e9e6);
	background: -moz-linear-gradient(top, #d3ded9, #e2e9e6);
	background: -ms-linear-gradient(top, #d3ded9, #e2e9e6);
	background: -o-linear-gradient(top, #d3ded9, #e2e9e6);
	background: linear-gradient(top, #d3ded9, #e2e9e6);
}
#sidebar-wrapper ul li a{
	padding: 3px 5px;
	display:block;	
}
#sidebar-wrapper li ul li a.active {
    outline:none;
    border-color:#ffa853;
    background-color:#FF6600;
    box-shadow:0 0 10px #ffa853;
}
.active {
    outline:none;
    border-color:#669999;  /*ffa853;*/
    background-color:#FF6600;
    box-shadow:0 0 4px #669999;  /* 88cc00;  /*ffb566;*/	
}

#sidebar-wrapper ul li.selected {
  color: #202a36;
  border-bottom-color: #384f76;
  background-color: #6985b5;  
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}
#sidebar-wrapper li a.selected {
  /* color: #c2c2d6;*/
    color: #378752;
  border-bottom-color: #73816a;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}


#sidebar-wrapper li a:hover {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#e1eae1), to(#cccccc));
  background: -webkit-linear-gradient(top, #c5d5c5, #b2b2b2);
  background: -moz-linear-gradient(top, #e1eae1, #cccccc);
  background: -ms-linear-gradient(top, #c5d5c5, #b2b2b2);
  background: -o-linear-gradient(top, #c5d5c5, #b2b2b2);
  background: linear-gradient(top, #c5d5c5, #b2b2b2);
}
#sidebar-wrapper ul li.current {
  color: #202a36;
  border-bottom-color: #384f76;
  background-color: #6985b5;  
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}
#sidebar-wrapper li a.current {
  color: #378752;
  border-bottom-color: #73816a;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}
#sidebar-wrapper li { 
	/*display: none; */
	background: #ffffff; 
}

#sidebar-wrapper li ul  { 
	padding-left: 5px;
}
#sidebar-wrapper li ul li ul { 
	padding-left: 10px;
	padding-right: -5px;	
}
/* level 3 --> 2 */
#sidebar-wrapper li ul li a { 
	display: block; 
	background: none;
	padding: 2px 5px 2px 5px;
	font-size: 1.15em;
    background-color:#deede5;  
	text-decoration: none;
	font-weight: nomal;
	color: #404040; 
}

#sidebar-wrapper li ul li a.current {
  color: #378752;
  border-bottom-color: #73816a;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}
#sidebar-wrapper li ul li a.selected {
   color: #c2c2d6; 
}

#sidebar-wrapper li ul li a:hover {
	  background: #f2f2f2; 
	  color: #0000ff; 
}
/*3 */
#sidebar-wrapper li ul li ul li a { 
	font-size: 1.1em;
	margin-left:15px;
	color: #2981a3;  
	background-color:#ffffff;
}

#sidebar-wrapper li ul li ul li a.current {
  color: #378752;
  border-bottom-color: #73816a;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}
/* level 4 */
#sidebar-wrapper li ul li ul li ul li a { 
	font-size:1.1em; 
	padding-left: 5px;
	margin-left:28px;
	color: #8c8c8c;  
	border-bottom: 1px solid #d9d9d9;  
	text-transform: capitalize;	
	padding-left:0px;
	background-color:#ffffff;
}

#sidebar-wrapper li ul li ul li ul li a:hover { 
	border-bottom: 1px solid #f2f2f2; 
	padding-left:0px;
}
#sidebar-wrapper li ul li ul li ul li ul li a { 
	padding-left:25px;
}
#sidebar-wrapper li ul li ul li ul li ul li a:hover { 
	padding-left:25px;
}
#sidebar-wrapper li ul li ul li ul li ul li a.current {
  color: #378752;
  border-bottom-color: #73816a;
  background-color: #6985b5;
  background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
  background: -webkit-linear-gradient(top, #6985b5, #456397);
  background: -moz-linear-gradient(top, #6985b5, #456397);
  background: -ms-linear-gradient(top, #6985b5, #456397);
  background: -o-linear-gradient(top, #6985b5, #456397);
  background: linear-gradient(top, #6985b5, #456397);
}

div.footer-relbar #navbar-related {
	margin-left: 0px;
	margin-top:-9px;
}
.currentLink {
   color: #640200;
   background-color: #000000;
}
/*** For Search box ***/
.form-control{display:block;width:90%;height:28px;
padding:2px 2px;
margin-top:5px;
margin-bottom:5px;
margin-left:10px;
font-size:12px;line-height:1.42857143;color:#3e3f3a;background-color:#ffffff;background-image:none;border:1px solid #dfd7ca;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.form-control:focus{border-color:transparent;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6)}
.form-control::-moz-placeholder{color:#dfd7ca;opacity:1}
.form-control:-ms-input-placeholder{color:#dfd7ca}
.form-control::-webkit-input-placeholder{color:#dfd7ca}
.form-control::-ms-expand{border:0;background-color:transparent}

/***********************************/

@media (min-width: 500px) { 
	
div.container  {
	border:0px solid red;  
}
#content-home {
	margin-top:80px;
	margin-left:70px;
	margin-right:30px;
}
div ul.nav {
	border: 0px solid #ffccff; /* light pink*/
}
#content-wrapper {	
	border: 0px solid #ff944d; /**orange*/
	padding-top: 20px;
	padding-bottom: 150px;
	padding-right:20px;
	padding-left: 25px;
	margin-top: 50px; /* -65px;*/
	margin-left:330px;  /*325px;*/
	margin-right:20px;
}
#sidebar-wrapper {
	border: 0px solid red;  /*#f2f5ef; */
	padding:10px 0 0 0;	 
	z-index: 1000; 
	height:90%;	
	margin-top:65px;
	margin-left: 1px;
	margin-right:0px;
	overflow-y: scroll; 
	float: left; 
	width: 315px; 
	}	
.sidebar2 {
	padding-bottom:20px;	
}	
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
}

}
